/*모바일상에서 폰트크기 등 작게 보이게 하기*/
@media (max-width: 800px) {
	html{
		font-size: 12px;
	}
}

body{
	width: 100%;
	background: #fff;
	color: #333;
	font-family: 'Noto Sans', 'Sans-serif';
}
.page-header{
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 4.38rem;
	line-height: 4.38rem;
	padding-left: 1rem;
	background: rgba(220,220,220,0.95);
}
.page-title{
	float: left;
	font-size: 1.75rem;
	font-weight: normal;
	color: #00B7C3;
	/*text-shadow: 1px 1px 2px rgba(255,255,255,0.3);*/
	transition: .3s all ease-in-out;
}
.slide-btn{
	float: right;
	padding: 0 15px;
	font-size: 1rem;
	transition: .3s all ease-in-out;
}
.slide-btn .fa{
	margin-right: 0.44rem;
}
.slide-btn:hover,
.slide-btn:focus{
	background: #ccc;
}
.photo-gallery{
	padding-top: 4.7rem;
	/*min-height: 650px;*/
}
.ajax-result{
	text-align: center;
	padding: 0 2px;
}
.ajax-result li{
	display: inline-block;
	margin: 0px 2px 0 2px;
}
.photo-link{
	display: inline-block;
	overflow: hidden;
	width: 100%;
}
.photo-img{
	display: inline-block;
	vertical-align: middle;
}

.photo-link .photo-img {
	transition: .5s all ease-in-out; /* vendorless fallback */
	-o-transition: .5s all ease-in-out; /* opera */
	-ms-transition: .5s all ease-in-out; /* IE 10 */
	-moz-transition: .5s all ease-in-out; /* Firefox */
	-webkit-transition: .5s all ease-in-out; /*safari and chrome */
}

.photo-link:hover .photo-img,
.photo-link:focus .photo-img {
	transform: scale(1.1);
}

/*모바일 대응 스타일*/
@media (max-width: 800px) {
	.photo-link{
		width: 100%;
	}
	.photo-img{
		width: 100%;
	}
}

/*데스크탑 대응 스타일*/
@media (min-width: 801px) {
	.photo-link{
		height: 250px;
	}
	.photo-img{
		height: 100%;
	}
}

/*footer*/
.page-footer{
	padding-left: 1rem;
	margin-top: 2rem;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #888;
}
.page-footer a{
	display: inline-block;
	color: inherit;
	font-size: 0.75rem;
}
.page-footer a:hover{
	text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
}

/*common*/
button{
	display: inline-block;
	background: transparent;
	border: none;
	cursor: pointer;
}
.base-padding{
	padding-left: 2rem;
	padding-right: 2rem;
}